# folders and files to be ignored by git

############
## Bones
############

Bones.esproj/

############
## IDEs
############

*.pydevproject
.project
.metadata
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.externalToolBuilders/
*.launch
.cproject
.buildpath
nbproject/

############
## OSes
############

[Tt]humbs.db
[Dd]esktop.ini
*.DS_store
.DS_store?

############
## Misc
############

bin/
tmp/
*.tmp
*.bak
*.log
*.[Cc]ache
*.cpr
*.orig
*.php.in
.idea/
temp/
._*
.Trashes
.svn
*.codekit
*.scssc
!wp-content/uploads/
wp-content/uploads/*
!wp-content/uploads/.gitkeep
!certs/
certs/*
!certs/make-certs.sh
!data/
data/*
!data/.gitkeep
wp-content/themes/Luxcentric/library/scss/style.css
wp-content/themes/Luxcentric/library/scss/style.css.map
node_modules

!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/luxcentric-plugin

!wp-content/.gitkeep

