/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

/*********************
GENERAL STYLES
*********************/
body {
	font-size: 18px;
}

.wrap {
	/*width: 1040px;*/
	width: 94%;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

body.page-template-front-page {
	background: url('../images/assets/backgrounds/homeBg1239.jpg') no-repeat center top;
	@include responsive-bg-image(1239, 841);
} /* home page */

body.page-template-default, body.blog, body.single, .archive, body.page-template-page-no-menu {
	background: url('../images/assets/backgrounds/pageBg1239.jpg') no-repeat center top;
	@include responsive-bg-image(1239, 354);
}

/*********************
FONT ICONS
*********************/


/*********************
HEADER STYLES
*********************/

.header {
	#top-bar-wrapper { 
		#top-bar-pattern {
			background-size: 100% auto;
		}
	}	
}

	#inner-header {
		padding-top: 1em;
		text-align: center;
	}

	#logo {
		display: inline-block;
		margin: 0 0.5em 0 0;

		img {
			width: 210px;
			height: auto;
			vertical-align: middle;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

#nav-wrapper { margin-bottom: 0.5em; }

#main-menu {
	display: inline-block;
	vertical-align: middle;

	.top-nav {
		display: inline-block;

		li {
			a { 
				font-size: 16px;

				&:hover, &:focus {
					color: $white;
					background-image: url(../images/assets/backgrounds/hilite.png);
					background-repeat: no-repeat;
					background-position: 50% 80%;
				}
			}

			/*
			plan your menus and drop-downs wisely.
			*/
			ul.sub-menu,
			ul.children {
				margin-top: 0;
				padding: 0.25em;
				border-top: 0;
				position: absolute;
				left: 0;
				visibility: hidden;
				z-index: 8999;
				background: $white;
				box-shadow: 0px 0px 0px 8px rgba($white, 0.6);   

				li {
					text-align: left;

					a {
						color: $navy;
						padding: 5px 10px;
						border-right: 0;
						display: block;

						.icon-stack {
							display: inline-block;
					
							.iconic {
								width: 1.75em;
								height: 1.25em;

								[class^="icon-"]:before, [class*=" icon-"]:before { 
									color: $teal;
									font-size: 1.25rem;
									line-height: 29px;
									vertical-align: middle;
								}
							}

							.icon-stack.fb {
								color: #3B5998 !important;
								.icon-circle:before { 
									color: #3B5998 !important;
									opacity: 1 !important; 
								}
							}							
						}

						&:hover,
						&:focus { color: $teal !important; }

						&:link {}
					}

					&:first-child {}

					&:last-child {

						a {
							border-bottom: 0;
						}
					}

					/*
					if you need to go deeper, go nuts
					just remember deeper menus suck
					for usability. k, bai.
					*/
					ul {
						top:0;
						left:100%;
					}				
				}

				/* highlight sub-menu current page */
				li.current-menu-item,
				li.current_page_item,
				li.current_page_ancestor {
					a { color: $teal; }
				}
			}

			/* showing sub-menus */
			&:hover > ul {
				top: auto;
				visibility: visible;
			}
		} /* end .menu ul li */

		/* highlight current page */
		li.current-menu-item,
		li.current_page_item,
		li.current_page_ancestor {
			/*a:after { */
				background-image: url(../images/assets/backgrounds/hilite.png);
				background-repeat: no-repeat;
				background-position: 50% 80%; 
			/*}*/
		}  /* end current highlighters */
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

	.hentry {

		header {

			.home-page-title { font-size: 2.75em; }
				/*min-height: 495px;*/
		}
	}

/* entry content */
.entry-content {
	ul.checklist li { 
		text-indent: -3.35em; 
		padding-left: 2.2em;
	}
}

.fp-head {
	background-image: url(../images/assets/strength-core.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: contain;

	.wrap70 { width: 70%; }
	
	#strength-core-txt {
		> p { padding: 0 4em; }
	}
}

.flex-container {
	// default four column items
	.flex-item-4 {
		-webkit-flex-basis: 25%;
		-ms-flex-preferred-size: 25%;
		flex-basis: 25%;
		max-width: 25%; /* need this for firefox */
	}
}

.circular-lg {
  	width: 300px;
	height: 300px;
}

.circular-sm {
	width: 250px;
	height: 250px;
}

.whiteBg { width: 55%; }

.blog-cat-dd {
	width: 375px;
}

.featured-blog {
	.feat-thumb { 
		margin-top: -80px; 

		.circular-lg { @include shadow(20px, 7px, 0, $white); }
	}

	.feat-txt {
		margin-top: 100px;
		margin-left: 158px;
		padding: 1em 1em 0.5em;
		border: 2px solid $teal;
	}
}

/* woocommerce */
.woocommerce, .woocommerce-page {
	ul.products {
		li {
			.price, .attributes { font-size: 0.5em !important; }
		}
	}

	//.woocommerce #content div.product div.summary, .woocommerce div.product div.summary, .woocommerce-page #content div.product div.summary, .woocommerce-page div.product div.summary {
	#content div.product div.summary, div.product div.summary, #content div.product div.summary, div.product div.summary {
		> div:nth-of-type(1) { 
			margin-bottom: 1em;
		}
	}

	.images { display: block; }

	/*form { font-size: 18px !important; }*/

	.select2-drop {
		.select2-results {
			.select2-result-label { font-size: 18px; }
		}
	}
}

#membership-levels {
	.membership-level {
		.woocommerce ul.products li.product, .woocommerce[class*=columns-] ul.products li.product { 
			width: 48%;
			margin: 0 0 2.992em;
		}

		.woocommerce ul.products li.first { clear: none !important; }
		.woocommerce ul.products li:nth-child(2n) { 
			float: right;
			clear: none !important;
		}
	}
}

/****************************
TRIBE EVENTS CALENDAR STYLES
****************************/
	
/* month view calendar */

.tribe-events-calendar {
	.tribe-events-tooltip { color: $blue; }
}
	
/*********************
SIDEBARS & ASIDES
*********************/

#sidebar2 { 
	.woo-links {
		ul#menu-woo-menu {
			li {
				line-height: 55px;

				a, a:visited { 
					/*font-size: 0.64em; */
					font-size: 16px; 
					line-height: 30px;
				}
			}

			&:last-child {
				a, a:visited {
					&:after { font-size: 1.5em; }
				}
			}
		}
	}
}

	/* search widget */
/*	#search-2 {	

		.search-form {
			.searchbox-wrapper {

				.search-submit {
		    		font-family: FontAwesome;
		    		font-size: 16px;
		    		width: 25px;
		    		height: 30px;
		    		color: $salmon;
					background-color: transparent;
		    		padding: 0;
		    		position: absolute;
		    		top: 0;
		    		left: 0;
				}

				.search-field {
					color: $salmon;
					margin-bottom: 0;
					padding-left: 28px;
					background-color: $white;
					border-radius: 0;
					width: 175px;
					height: 28px;
					line-height: 28px;
					font-size: 16px;
				}
			}
		}
	} */

#sidebar3 {
	#testimonials_widget-2 { width: 80%; }
}

/*********************
FOOTER STYLES
*********************/

.footer-links {}

	.copyright { font-size: 0.64em; }

/*********************
GRAVITY FORM STYLES
*********************/
#gform_wrapper_1 { width: 70%; }
