/******************************************************************
Site Name: 
Author: 

Stylesheet: Super Large Monitor Stylesheet

You can add some advanced styles here if you like. This kicks in
on larger screens.

******************************************************************/

.wrap {
	width: 1200px;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

body.page-template-front-page {
	background: url('../images/assets/backgrounds/homeBg1400.jpg') no-repeat center top;
	@include responsive-bg-image(1400, 950);	
}

body.page-template-default, body.blog, body.single {
	background: url('../images/assets/backgrounds/pageBg1400.jpg') no-repeat center top;
	@include responsive-bg-image(1400, 400);	
}

/*********************
POSTS & CONTENT STYLES
*********************/

	.hentry {
		
		header {

			.home-page-title { font-size: 2.4em; }
			/*min-height: 635px; */
		}
	}

.fp-head { 
	width: 1200px; 
	background-position: 10% center;
}

.whiteBg { width: 45%; }

